body{
    background-image: url(./d86e57c9e84e3178006c760dd1d0a58d.jpg);
    background-size: 400px;
    background-attachment: fixed;  
}

p{
    color: #ffff;
    font-size: 40px;
    font-family: Cambria;
    text-align: center;
}

h1{
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: Arial;
}

h2{
    color: white;
    font-size: 30px;
    font-family: arial;
}

#cardapio{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cardapio img { 
    padding: 5px;
    width: 360px;
    height: 220px;
    border-radius: 50px;
    margin-bottom: 80px;
}

#Item{
    display: flex;
    flex-direction: column;
    color: #ffff;

    background-color:rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

#item button{
    border-radius: 5px;
    width: 65%;
}

